
.amount {
  width: 500px;
  padding-right: 30px;
}
.container {
  padding: 30px
}
input {
 width: 125px;
 margin-right: 10px;
 margin-left: 10px;
}
p {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

h3 {
  font-size: 30px;
}
